<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width-device=width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>About Us - Best Cars</title>
</head>
<body>
    <div class="navbar-header">
        <a class="navbar-brand" href="">Home</a>
    </div>
    <nav class="navbar navbar-light bg-dark">
        <ul class='navbar-nav navbar-right'>
            <li class="nav-item">
                <a class='nav-link' href="{% url 'djangoapp:about' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="">Contact Us</a>
            </li>
        </ul>
    </nav>
    <div class='container-fluid'>
        <h1>
            Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
        </h1>
    </div>
</body>
</html>