<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Best Cars</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'djangoapp:index' %}">Home</a>
              <a class='nav-link' href="{% url 'djangoapp:about' %}">About Us</a>
              <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                     <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                     <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                     <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                             <input type="text" class="form-control" placeholder="Username" name="username" >
                             <input type="password" class="form-control" placeholder="Password" name="psw" >
                             <button class="btn btn-info" type="submit">Login</button>
                             <a class="btn btn-info" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                     </form>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
    </nav>
    <div class="container">
        <h1 class='display-3 text-center'>Sign Up</h1></br>
        <form action="{% url 'djangoapp:registration' %}" method="post">
            <div class="form-group">
              <label for="username">User Name:</label>
              <input type="text" class="form-control" placeholder="Enter User Name" id="id_username" name='username'>
            </div>
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" class="form-control" placeholder="Enter First Name" id="id_firstname" name="firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" class="form-control" placeholder="Enter Last Name" id="id_lastname" name="lastname">
            </div>
            <div class="form-group">
              <label for="psw">Password:</label>
              <input type="password" class="form-control" placeholder="Enter password" id="id_psw" name="psw">
            </div>
                <button type="submit" class="btn btn-info">Sign Up</button>
          </form>
    </div>
    </body>
</html>